@import url("reset.css");

body
{
	background: #FFF;
	color: #333;
	font-size: 20px;
	font-family: 'Shadows Into Light', Arial, Helvetica, sans-serif;
}

a { color: #D76CF9; text-decoration: none; }
a:hover { color: red; text-decoration: none; }

.logo{
	float: left;
	width: 100px;
	height: 100px;
	position: absolute;
	top: -10px;		
}

.zen{
	width: 270px;
	position: relative;
	padding: 0px;
	margin: 0 auto;	
	display: block;
}

/* Main Styles */

#headercont
{
	width: 100%;
	background: #BBEEFF;
}

	#headercont #header
	{
		margin: 0 auto;
		width: 900px;
	}
	
		#headercont #header #logocont
		{
			float: left;
			width: 400px;
			height: 60px;
			padding: 40px 0 0 0;
		}
		
				#headercont #header #logocont h1 a
				{
					color: #FFF;
					font-weight: bold;
					font-size: 2px;
					text-transform: uppercase;
					letter-spacing: -2px;
				}
				
					#headercont #header #logocont h1 a span
					{
						color: red;
					}
		
		#headercont #header #menucont
		{
			float: left;
			width: 500px;
			height: 30px;
			padding: 38px 0 0 0;
		}
	
			#headercont #header #menucont ul
			{
				float: right;
			}
			
			#headercont #header #menucont ul li
			{
				display: inline;
			}
			
			#headercont #header #menucont ul li a
			{
				float: left;
				line-height: 30px;
				background: #90CDDA repeat-x;
				color: rgb(39, 39, 41);
				padding: 0 15px;
				margin: 0 0 0 10px;
				text-decoration: none;
				
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			
			#headercont #header #menucont ul li a:hover
			{
				background: #FFF;
				color: #333;
			}
		
#maincont
{
	width: 100%;
	padding: 30px 0 0 0;
}

	#maincont #main
	{
		margin: 0 auto;
		width: 900px;
		padding: 30px 0 30px 0;
		line-height: 28px;
		background: url("../images/bg-maincont.png") repeat-y;
	}
		
		#maincont #main p { margin: 0 0 15px 0; }
		
		#maincont #main h1, #maincont #main h2, #maincont #main h3, #maincont #main h4, #maincont #main h5 { margin: 0 0 15px 0; font-weight: bold; letter-spacing: -2px; text-transform: uppercase; }
		#maincont #main h1 { font-size: 28px; }
		#maincont #main h2 { font-size: 26px; }
		#maincont #main h3 { font-size: 26px; }
		#maincont #main h4 { font-size: 24px; }
		#maincont #main h5 { font-size: 24px; }
		
			#maincont #main h1 span, #maincont #main h2 span, #maincont #main h3 span { color: #D76CF9; }
		
		#maincont #main ul { margin: 0 0 15px 35px; list-style-type: square; }
		#maincont #main ul li { padding: 0 0 0 2px; }
		
		#maincont #main ol { margin: 0 0 100px 35px; list-style-type: decimal; }
		#maincont #main ol li { padding: 0 0 0 2px; }
		
		#maincont #main blockquote { background: #DDD; border-left: 3px solid #D76CF9; padding: 15px; margin: 0 0 15px 0; font-style: italic; line-height: 15px; }
		
			#maincont #main #mainleft
			{
				float: left;
				width: 620px;
				padding: 0 30px 0 0;
			}
			
				#maincont #main #mainleft #gallerycont
				{
					width: 620px;
					height: 250px;
					margin: 0 0 30px 0;
				}
			
			#maincont #main #mainright
			{
				float: left;
				width: 220px;
				padding: 0 0 0 30px;
			}
		
#footercont
{
	width: 100%;
	margin: 30px 0 0 0;
	background: #BBEEFF;
}

	#footercont #footer
	{
		margin: 0 auto;
		width: 860px;
		padding: 20px;
		font-size: 15px;
		text-align: right;
		background: #BBEEFF;
		color: rgb(73, 72, 72);
	}